@media (max-width: 768px) {
  .header__container {
    flex-direction: column;
    align-items: center;

  }

  .header__nav {
    margin-top: 0.5rem;
  }

  .algo__code {
    margin-top: 7rem;
  }
}

@media (max-width: 350px) {
   .buttons-controls {
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }

  .buttons-controls .btn {
    flex: 1 1 45%;
    max-width: 150px;
  }}